[build]
  publish = "."
  functions = "netlify/functions"
[functions]
  node_bundler = "esbuild"
  external_node_modules = ["stripe"]
[[redirects]]
  from = "/api/stripe/create-checkout-session"
  to   = "/.netlify/functions/create-checkout-session"
  status = 200
  force = true
