[build]

  publish = "."

  functions = "netlify/functions"



[functions]

  directory = "netlify/functions"

  node_bundler = "esbuild"

  external_node_modules = ["stripe", "@supabase/supabase-js"]
